doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    script(src='/jquery/jquery.min.js')
    script(src='/mmenu/js/jquery.mmenu.min.js')
    title Forever Our Kids
  body
    .header
      img.house(src='images/abcHouse.png')
      img.family(src='images/abcFamily.png')
      img.curvedTitle(src='images/curvedText.png')



    ul.nav
      li: a(href='/') Home
      li: a(href='#news') News
      li: a(href='#about') About
      li: a(href='#contact') Contact

    .main-content
      block content

    .footer
      - var year = new Date().getFullYear();
      p= 'Copyright © ' + year + ' Forever Our Kids. Forever Our Kids meets the requirements for the Washington State Courts LSPR 94.03 Mandatory Parenting Seminars.'
